<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Lobbies • 3D Pong</title>
	</head>
	<body>
		<h1>Lobbies</h1>

		<input
			id="username-field"
			placeholder="Username"
			style="margin-bottom: 0.5rem"
		/>

		<div>
			<input id="name-field" placeholder="Lobby name" />
			<button id="create-button">Create Lobby</button>
		</div>

		<div>
			<input id="code-field" placeholder="Join Code" />
			<button id="join-button">Join</button>
		</div>

		<h2 style="margin-top:1rem">Open Lobbies</h2>
		<div id="lobbies-list">
			<% if (lobbies && lobbies.length > 0) { %>
				<% for (let i = 0; i < lobbies.length; i++) { %>
				<div class="lobby">
					<div><strong><%= lobbies[i].name || 'Unnamed Lobby' %></strong></div>
					<div>Join Code: <code><%= lobbies[i].code %></code></div>
					<div>Players: <%= lobbies[i].memberCount %></div>

					<button onclick="join('<%= lobbies[i].code %>')">Join</button>
				</div>
				<% } %>
			<% } else { %>
				<p class="no-lobbies">No open lobbies currently.</p>
			<% } %>
		</div>

		<script>
			const usernameField = document.getElementById('username-field');
			const nameField = document.getElementById('name-field');
			document
				.getElementById('create-button')
				.addEventListener('click', (e) => {
					if (!usernameField.value.length) return;

					fetch('/api/lobbies', {
						method: 'POST',
						body: JSON.stringify({
							name: nameField.value.length ? nameField.value : undefined
						}),
						headers: {
							'Content-Type': 'application/json'
						}
					}).then(async (res) => {
						const { lobby } = await res.json();
						window.location = `/game?code=${lobby.code}&username=${usernameField.value}`;
					});
				});

			const codeField = document.getElementById('code-field');
			document.getElementById('join-button').addEventListener('click', (e) => {
				if (!usernameField.value.length || !codeField.value.length) return;
				window.location = `/game?code=${codeField.value}&username=${usernameField.value}`;
			});

			function join(code) {
				if (!usernameField.value.length) return;
				window.location = `/game?code=${code}&username=${usernameField.value}`;
			}
		</script>
	</body>
</html>
